@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Poppins', serif;
  font-weight: 400; /* Regular weight */
  font-size: 16px;  /* Adjust as needed */
  line-height: 1.6;
  color: #333; /* Optional: for better readability */
}

/* Example for different weights */
/* h1, h2, h3 {
  font-weight: 600;
} */

em {
  font-style: italic;
}